.welcome-banner {
  height: 420px;
  position: absolute;
	top: 0px;
  width: 100%
}

.main__image {
  width: 100%;
  height: 420px;
}

.main__image--first {
	background-image: url('../images/main_image.png');
	background-position: 60% 35%;
}

.main__image--second {
	background-image: url('../images/image_second-slide.png');
	background-position: 60% 35%;
}

.main__image--third {
	background-image: url('../images/image_third-slide.png');
	background-position: 60% 35%;
}

.welcome-banner__bottom-gradient {
  background: linear-gradient(360deg, #0026F5 0%, rgba(0, 38, 245, 0.75) 31.5%, rgba(0, 38, 245, 0.5) 71.43%, rgba(0, 38, 245, 0) 100%);
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
}

.welcome-banner__title {
  color: white;
  margin-left: 110px;
  margin-top: 132px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 44px;
	display: flex;
	text-align: start;
}

.welcome-banner__paragraph {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-left: 110px;
  margin-bottom: 40px;
	display: flex;
}

.welcome-banner__button-link {
  color: #1D222F;
  background: linear-gradient(90deg, #FFC700 0%, #FFEA21 100%), #FF9E2C;
  border-radius: 44px;
  border: none;
  font-size: 15px;
	text-decoration: none;
  font-weight: 700;
	position: absolute;
	z-index: 10;
  padding: 12px 20px;
	bottom: 132px;
	left: 110px;
}

.welcome-banner__features {
  position: absolute;
  bottom: 35px;
  margin-left: 50%;
  transform: translateX(-50%);
  gap: 16px;
  display: flex;
  align-items: center;
  z-index: 3;
  justify-content: center;
}

.slider {
	position: absolute;
  top: 0px;
	height: 420px;
	width: 100%;
	overflow:hidden;
}

button {
	cursor: pointer;
	margin-right: 8px;
	border:none;
	border-radius: 4px;
	background-color: #3066BE;
	color:#FFF;
	transition: all 0.5s;
}
button:last-child {margin-right: 0;}
button:hover {background-color: #60AFFF;}
button:focus {outline: none;}

.disabled {
	background-color: #DCCFCF;
	color:#B0A8A8;
	cursor: default;
	pointer-events:none;
}

.d-none {display: none;}
.active {opacity: 1;}
.centered {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}

.arrow-left {
  position: absolute;
  top: 210px;
  right: 25px;
	transform: translateY(-50%);
}

.arrow-right {
  position: absolute;
  top: 210px;
  left: 25px;
	transform: translateY(-50%);
}

.main__image--first {
	background-color: #0026F5;
	background-repeat: no-repeat;
}

.main__image--second {
	background-color: #0026F5;
	background-repeat: no-repeat;
}

.main__image--third {
	background-color: #0026F5;
	background-repeat: no-repeat;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0px;
	gap: 3px;
	z-index: 5;
	position: absolute;
	left: 50%;
	bottom: 75px;
}

.slick-dots li button {
	font-size: 0px;
}

.slick-dots li {
	display: inline-block;
	transition: all 0.2s linear;
}

.slick-dots li{
	width: 9px;
	height: 9px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 17px;
}

.slick-dots .slick-active {
	width: 21px;
	transition: all 0.2s linear;
	background-color: rgba(255, 214, 14, 1);
}
.slick-dots .slick-active button {
	font-size: 0px;
}

.Arrow-Prev {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: red;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0
}

.SliderContent {
  width: 100%;
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.Slider-img-fill {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  text-align: center
}

.SliderContainer:after,
.SliderContainer .SliderHead:after {
  content: '';
  display: block;
  clear: both;
}

.SliderContainer .SliderHead {
  overflow: hidden;
  font-size: 20px;
  color: white;
  line-height: 49px;
}

.SliderContainer .SliderHead .SliderArrows {
  float: right;
}

.slick-arrow {
  border-radius: 50%;
}

.Slider-Slick-Next {
  background-image: url('../images/arrow-right-main.svg');
  background-size: 45%;
	background-repeat: no-repeat;
	right: 10px;
	top: 210px;
	transform: translateY(-50%);
}

.Slider-Slick-Prev {
  background-image: url('../images/arrow-left-main.svg');
  background-size: 33% 100%;
	left: 20px;
	background-repeat: no-repeat;
	top: 210px;
	transform: translateY(-50%);
}

.SliderContainer .SliderHead .Slider-Slick-Next,
.SliderContainer .SliderHead .Slider-Slick-Prev {
  display: inline-block;
  width: 38px;
  height: 38px;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  position: absolute;
	height: 30px;
	width: 30px;
	z-index: 5;
}

.SlickCarousel {
  margin: 0 -7.5px;
}

.SliderProductBlock h3 {
  color: #393939;
  margin-top: 5px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .25);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.slide {
  background-image: url('../images/aviator.png');
  z-index: 12px;
  position: relative;
}

.slider__more {
  display: none;
  color: #FFD60E;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  right: 240px;
}

.slider__link {
  right: 120px;
  bottom: 10px;
}

.slider__image-play {
  width: 25%;
  left: 50%;
}

.slider__hover-image-container--first {
  position: absolute;
  top: 0px;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  opacity: 0;
  font-size: 13px;
  font-weight: 600;
  height: calc(50%  - 5px);
  transition: all 0.3s;
  border-radius: 17px;
}

.slider__hover-image-container--second {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-decoration: none;
  color: white;
  opacity: 0;
  font-size: 13px;
  font-weight: 600;
  height: calc(50%  - 5px);
  transition: all 0.3s;
  border-radius: 17px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.slider__text {
  left: 50%;
  white-space: nowrap;
}

.slider__image-play--second {
  position: absolute;
  border-radius: 17px;
  bottom: 0px;
  opacity: 0;
  transition: all 0.3s;
}

.slider__hover-image-container--first:hover {
  opacity: 1;
  backdrop-filter: blur(3px);
}

.slider__hover-image-container--second:hover {
  opacity: 1;
  backdrop-filter: blur(3px);
}

.slider__play {
  padding: 2% 8%;
  background-color: rgba(225, 243, 247, 0.4);
  left: 50%;
  display: inline-block;
  border-radius: 17px;
  margin-bottom: 16px;
}

@media (max-width: 1200px) {
  .slider__play {
    margin-bottom: 10px;
  }

  .slider__more {
    display: inline-block;
  }
}

@media (max-width: 420px) {
  .slider__play {
    margin-bottom: 8px;
  }

  .slider__hover-image-container--first, .slider__hover-image-container--second{
    gap: 5px;
  }

  .slider__text {
    font-size: 11px;
  }
}

@media (max-width: 1260px) {
  .welcome-banner__features {
    display: none;
  }

	.slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0px;
		gap: 3px;
		position: absolute;
		left: 50%;
		bottom: 16px;
	}
}

@media (max-width: 1200px) {
	.welcome-banner__title {
		width: 80%;
		justify-content: start;
		align-items: start;
		font-size: 32px;
		margin-top: 180px;
		margin-left: 60px;
	}

	.welcome-banner__paragraph {
		margin-left: 60px;
	}

	.welcome-banner__button-link {
		margin-left: -50px;
		bottom: 110px;
	}
}

@media (max-width: 720px) {
	.main__image {
		background-position: 100%;
	}

	.main__image--first {
		background-size: cover;
		background-position: 50% 20px;
		background-color: #0026F5;
		background-repeat: no-repeat;
	}

	.main__image--second {
		background-size: cover;
		background-position: 30% 40px;
		background-color: #0026F5;
		background-repeat: no-repeat;
	}
	
	.main__image--third {
		background-size: cover;
		background-position: 30% 30px;
		background-color: #0026F5;
		background-repeat: no-repeat;
	}

	.welcome-banner__button-link {
		bottom: 40px;
		font-size: 13px;
	}

	.slider {
		height: 290px;
	}

	.slider-content-wrapper {
		height: 290px;
	}

	.welcome-banner__title {
		font-size: 20px;
		margin-top: 110px;
		margin-bottom: 5px;	
		font-size: 18px;
	}
	
	.welcome-banner__paragraph {
		font-size: 13px;
	}

	.arrow-right, .arrow-left {
		top: 145px;
	}

	.slider__play {
    margin-bottom: 16px;
  }

	.welcome-banner, .main__image {
		height: 260px;
	}

	.Slider-Slick-Next, .Slider-Slick-Prev {
		top: 130px;
		transform: translateY(-50%);
	}
}