.eighth-section {
  width: auto;
  margin-left: 99px;
  margin-right: 116px;
  display: flex;
  flex-direction: column;
}

.eighth-section__title {
  color: white;
  font-size: 18px;
  margin-top: 54px;
  font-weight: 600;
  font-size: 24px;
}

.eighth-section__pretitle {
  color: #B9C5E1;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

.eighth-section__paragraph {
  margin-top: 15px;
  color: #B9C5E1;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.eighth-section__info-container {
  display: flex;
  line-height: 21px;
  gap: 10px;
  color: #B9C5E1;
}

.eighth-section__list {
  margin-top: 15px;
}

.eighth-section__image {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 17px;
}

@media (max-width: 1200px) {
  .eighth-section {
    margin-left: 99px;
    margin-right: 116px;
  }
}

@media (max-width: 720px) {
  .eighth-section {
    margin-left: 16px;
    margin-right: 16px;
  }

  .eighth-section__paragraph {
    font-size: 13px;
  }

  .eighth-section__title {
    font-size: 18px;
  }

  .eighth-section__info {
    font-size: 13px;
  }
}