.fourth-section {
  width: auto;
  margin-left: 203px;
  margin-right: 223px; 
  display: flex;
  flex-direction: column;
}

.fourth-section__title {
  color: white;
  font-size: 24px;
  margin-top: 54px;
  font-weight: 600;
}

.fourth-section__paragraph {
  margin-top: 15px;
  color: #B9C5E1;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.fourth-section__link {
  color: #B9C5E1;
}

.fourth-section__list {
  color: #B9C5E1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-left: 30px;
}

@media (max-width: 1200px) {
  .fourth-section {
    margin-left: 99px;
    margin-right: 116px;
  }
}

@media (max-width: 720px) {
  .fourth-section {
    margin-left: 16px;
    margin-right: 16px;
  }

  .fourth-section__paragraph {
    font-size: 13px;
  }

  .fourth-section__title {
    font-size: 18px;
  }

  .fourth-section__element {
    font-size: 13px;
  }
}