.header {
  margin-top: 14px;
  margin-left: 99px;
}

.header__logo-link {
  width: 100%;
}

.header__logo {
  width: 125px;
}

@media (max-width: 720px) {
  .header {
    margin-left: 16px;
  }

  .header__logo {
    width: 88px;
  }
}
