@import './reset.css';
@import './section-cookie-policy.css';
@import './header-cookie-policy.css';
@import './footer.css';

.main {
  margin-bottom: 30px;
}

.main__title {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 720px) {
  .main__title {
    font-size: 26px;
  }
}