@import './reset.css';
@import './section-terms-and-conditions.css';
@import './header-terms-and-conditions.css';
@import './footer.css';

.main-terms-and-conditions {
  margin-bottom: 30px;
}

body {
  background-color: #232939;
}

.main-terms-and-conditions__title {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 720px) {
  .main-terms-and-conditions__title {
    font-size: 26px;
  }
}