.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -20px;
}

.second-section__title {
  font-weight: 600;
  font-size: 24px;
  color: white;
  width: calc(100% - 215px);
}

.second-section__paragraph {
  font-weight: 400;
  font-size: 15px;
  color: #B9C5E1;
  margin-top: 15px;
  line-height: 21px;
  width: auto;
  margin-left: 99px;
  margin-right: 116px; 
}

.second-section__feedback-container {
  display: flex;
  gap: 32px;
  width: auto;
  margin-left: 99px;
  margin-right: 116px; 
}

.second-section__feedback {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-section__info {
  color: #B9C5E1;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.second-section__info-container {
  display: flex;
  line-height: 21px;
  gap: 10px;
  
}

.yellowpoint {
  color: yellow;
  display: inline;
  width: min-content;
}

.feedback__title {
  font-weight: 700;
  font-size: 15px;
  color: #B9C5E1;
  margin: 32px 0;
}

.second-section__infrastrusture-info-container {
  color: #B9C5E1;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  gap: 10px;
  margin-top: 20px;
  width: auto;
  margin-left: 99px;
  margin-right: 116px; 
}

.second-section__infrastrusture-info-element {
  display: flex;
  line-height: 21px;
  gap: 10px;
}

.second-section__infrastrusture-info-title {
  color: #B9C5E1;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  width: calc(100% - 215px);
}

.second-section__infrastrusture-info-pretitle {
  color: #B9C5E1;
  font-size: 15px;
  line-height: 21px;
  margin-top: 20px;
  width: auto;
  margin-left: 99px;
  margin-right: 116px; 
}

.second-section__table {
  display: flex;
  flex-direction: column;
  background-color: #353D52;
  margin-top: 53px;
  border-radius: 17px;
}

.second-section__table-row {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 400;
  border-bottom: 1px solid #232939;
}

.second-section__table-title {
  padding: 8px 0;
  padding-left: 10px;
}

.second-section__table-title-container {
  width: 170px;
  border-right: 1px solid #232939;
  padding: 2px 0;
  font-weight: 600;
}

.second-section__table-description {
  color: white;
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 400;
}

.tenth-section__table-with-header-title-container {
  border-right: 0px solid white;
}

.second-section__small-images {
  width: calc(100% + 211px);
  margin-left: -99px;
}

.second-section__title--for-smal-images {
  width: max-content;
}

.second-section__image {
  width: 70%;
  margin-top: 30px;
  border-radius: 17px;
}

@media (max-width: 1200px) {
  .second-section__title {
    width: calc(100% - 215px);
  }

  .second-section__paragraph {
    margin-left: 99px;
    margin-right: 116px;
  }

  .second-section__feedback-container {
    margin-left: 99px;
    margin-right: 116px;
  }

  .second-section__infrastrusture-info-title {
    width: calc(100% - 215px);
  }

  .second-section__infrastrusture-info-pretitle {
    margin-left: 99px;
    margin-right: 116px;
  }

  .second-section__infrastrusture-info-container {
    margin-left: 99px;
    margin-right: 116px;
  }

  .second-section__infrastrusture-info-title {
    width: calc(100% - 216px);
  }

  .second-section__table-description {
    font-size: 13px;
  }
}

@media (max-width: 720px) {
  .second-section {
    margin-top: -10px;
  }

  .second-section__title {
    width: calc(100% - 32px);
    font-size: 18px;
  }

  .second-section__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }

  .second-section__feedback-container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .second-section__infrastrusture-info-pretitle {
    margin-left: 16px;
    margin-right: 16px;

  }

  .second-section__infrastrusture-info-container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .second-section__table {
    width: calc(100% - 32px);
    overflow: auto;
    white-space: nowrap;
    font-size: 13px;
  }

  .second-section__table-title {
    width: 150px;
  }

  .second-section__table-title-container {
    width: 150px;
  }

  .second-section__paragraph {
    font-size: 13px;
  }

  .second-section__info {
    font-size: 13px;
  }

  .second-section__table-row {
    min-width: 526px;
  }

  .second-section__infrastrusture-info-title {
    width: calc(100% - 32px);
    font-size: 18px;
  }

  .second-section__infrastrusture-info-pretitle {
    font-size: 13px;
  }

  .second-section__infrastrusture-info {
    font-size: 13px;
  }
}