.section-terms-and-conditions {
  margin-left: 99px;
  margin-right: 116px;
}

.section-terms-and-conditions__title {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}

.section-terms-and-conditions__pretitle {
  font-size: 21px;
}

.section-terms-and-conditions__paragraph {
  font-size: 16px;
  color: rgb(185, 197, 225);
  margin-top: 16px;
  line-height: 21px;
}

.yellowpoint {
  color: yellow;
  display: inline;
  width: min-content;
}

@media (max-width: 720px) {
  .section-terms-and-conditions {
    margin-left: 16px;
    margin-right: 16px;
  }

  .section-terms-and-conditions__title {
    font-size: 18px;
  }

  .section-terms-and-conditions__pretitle {
    font-size: 15px;
  }

  .section-terms-and-conditions__paragraph {
    font-size: 13px;
  }
}