.section {
  margin-left: 99px;
  margin-right: 116px;
}

.section__title {
  color: white;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
}

.section__pretitle {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
}

.section__paragraph {
  font-size: 16px;
  color: rgb(185, 197, 225);
  margin-top: 16px;
  line-height: 21px;
}

.section__info {
  color: #B9C5E1;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.section__info-container {
  display: flex;
  line-height: 21px;
  margin-top: 10px;
  gap: 10px;
}

.yellowpoint {
  color: yellow;
  display: inline;
  width: min-content;
}

.section__list-dots {
  margin-top: 20px;
}

@media (max-width: 720px) {
  .section {
    margin-left: 16px;
    margin-right: 16px;
  }

  .section__title {
    font-size: 18px;
  }

  .section__pretitle {
    font-size: 15px;
  }

  .section__paragraph, .section__info {
    font-size: 13px;
  }
}