* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: Poppins, Helvetica, Arial, Sans-Serif, serif;
  scroll-behavior: smooth;
}

html,
h1,
body,
h2,
h3,
h4,
th,
td,
tr,
h5,
h6,
table,
tr,
td,
th,
button,
p,
a,
li,
img {
  margin: 0;
  padding: 0;
}

header > div:first-of-type {
  padding:  20px 0;
  margin: 0 auto;
  word-wrap: break-word;

}

span {
  font-size: 35px;
  font-weight: 400;
  display: block;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

header > div:nth-of-type(2) {
  padding-top: 40px;
}

.main_image {
  float: right;
  width: 50%;
}

h1 {
  font-size: 3em;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 100;
}

.blackjack_image {
  width: 400px;
}

.blackjack-buttons-image {
  width: 400px;
}

main {
  padding: 50px 100px;
  background-color: #FAF7F0;
  margin: 0 auto;
}

p, ul, ol, li {
  font-size: 16px;
  font-weight: 300;
  margin: clamp(1rem,.5em,2.5rem) auto clamp(1rem,.25em,2rem);
  line-height: 1.6;
  text-transform: none;
  color: black;
}

.center {
  text-align: center;
}

main table {
  display: block;
  margin: 15px auto;
  border-collapse: collapse;
  width: fit-content;
  overflow: auto;
  border: 1px solid #DB322C;
  border-radius: 20px;
}

main tbody {
  width: 100%;
}

::marker {
  color: #DB322C;
}

main table td {
  padding: 10px;
  vertical-align: middle;
}

main table td:nth-of-type(2) {
  border-left: 1px solid #DB322C;
}

table > tbody > tr:not(:last-of-type) > td{
  border-bottom: 1px solid #DB322C;
}

.table_container {
  overflow-x: auto;
}

h2, h3 {
  font-family: Mulish,Helvetica,Arial,Sans-Serif,serif;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.143;
  margin: clamp(1rem,.5em,2.5rem) auto clamp(1rem,.25em,2rem);
}


.faq > div {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
  width: calc(100% - 215px);
  margin-left: 99px;
}

.select {
  background: #EDE04C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #EDE04C solid;
  border-radius: 0.5em;
  padding: 12px 16px;
  cursor: pointer;
}

.select > span {
  font-size: 18px;
  text-align: start;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 500;
}

.select-clicked {
  border: 1px #FFD60E solid;
  border-bottom: none;
}

.dropdown__element > div > p {
  margin: 0;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: #EDE04C;
  border: 1px #EDE04C solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  top: 3em;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  margin-top: 16px;
}

.menu li {
  padding: 0px 16px;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-open {
  display: block;
  opacity: 0.75;
  padding-left: 0;
  background-color: #EDE04C;
}

.dropdown__element {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dropdown--last {
  margin-bottom: 93px;
}

footer {
  background-color: #FFC421;
  padding: 20px 35px;
}

footer > p {
  color: #fff;
  text-align: center;
}

.list_titles {
  margin: 0;
}

.list_titles > li {
  margin: 0;
}

.tables {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.header_container {
  position: relative;
  justify-content: center;
  z-index: 233;
  align-items: center;
  display: flex;
  gap: 30px;
}

.list_titles > li > a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

header > div:first-of-type > div {
  margin: 0 auto;
  width: 90%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

header > div:first-of-type {
  background-color: #529147;
}

.buttons {
  display: flex;
  gap: 40px;
}

.buttons > a {
  padding: 15px 25px;
  color: #EDE04C;
  background-color: #082C2A;
  text-decoration: none;
  font-weight: bold;
}

.buttons > a:first-of-type {
  background-color: #2B2B2A;
  color: #DB322C;
}

.buttons > a:last-of-type {
  color: #2B2B2A;
  background-color: #DB322C;
}

.faq > div {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
  width: calc(100% - 215px);
  margin-left: 99px;
}

.select {
  background: #EDE04C;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #EDE04C solid;
  border-radius: 0.5em;
  padding: 12px 16px;
  cursor: pointer;
}

p, h1, h2, h3, li, span, tr, td {
  color: #2B2B2A;
}
.select > span {
  font-size: 18px;
  text-align: start;
  font-weight: 500;
}

.select-clicked {
  border: 1px #FFD60E solid;
  border-bottom: none;
}

.dropdown__element > div > p {
  margin: 0;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
}

.caret-rotate {
  transform: rotate(180deg);
}

.center_image {
  width: 50%;
  margin: 20px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center_image, .homepage, .blackjack_image, .blackjack-buttons-image {
  border-radius: 24px;
}

.menu {
  list-style: none;
  background: #EDE04C;
  border: 1px #EDE04C solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  top: 3em;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  margin-top: 16px;
}

.menu li {
  padding: 0px 16px;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-open {
  display: block;
  opacity: 0.75;
  padding-left: 0;
  background-color: #EDE04C;
}

.dropdown__element {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dropdown--last {
  margin-bottom: 93px;
}

footer {
  background-color: #529147;
  padding: 20px 35px;
}

footer > p {
  color: #fff;
  text-align: center;
}

.image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.homepage {
  width: 30%;
}

.destek, .license {
  width: 250px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.options, .mobile {
  width: 350px;
}

.homepage_container {
  justify-content: center;
}

.promo, .bonus {
  width: 50%;
}

.mobile_container {
  justify-content: flex-start;
}

.destek_container {
  max-width: 90%;
}

@media (max-width: 1200px) {
  main {
    padding: 40px 50px;
  }

  .license_container {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .buttons-image_container {
    flex-direction: column;
    gap: 0;
  }

  .bets {
    flex-direction: column;
  }

  .list_info {
    align-self: flex-start;
  }

  .info {
    flex-direction: column;
  }

  .mobile {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .homepage_container {
    flex-direction: column;
  }

  .options {
    width: 250px;
  }

  .homepage {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .center_image {
    width: 100%;
  }

  .blackjack-buttons-image {
    width: 250px;
  }

  .blackjack_image {
    width: 250px;
  }

  main {
    padding: 30px 20px;
  }

  .image_container {
    flex-direction: column;
  }

  header > div:first-of-type > div {
    flex-direction: column;
    gap: 20px;
  }

  h1 {
    font-size: 2.5em;
  }

  .options_container {
    flex-direction: column-reverse;
  }

  ul, ol {
    padding-left: 10px;
  }
}