.tenth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tenth-section__title {
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-top: 54px;
  width: calc(100% - 215px);
}

.tenth-section__paragraph {
  font-weight: 400;
  font-size: 15px;
  color: #B9C5E1;
  margin-top: 15px;
  line-height: 21px;
  width: calc(100% - 235px);
  margin-left: 203px;
  margin-right: 223px; 
}

.tenth-section__link {
  color: #B9C5E1;
  font-weight: 700;
}
.tenth-section__table {
  display: flex;
  flex-direction: column;
  background-color: #353D52;
  margin-top: 53px;
  border-radius: 17px;
}

.tenth-section__fourth-table-title {
  width: 340px;
}

.tenth-section__table-row {
  display: flex;
  min-width: 630px;
  align-items: center;
  color: white;
  font-weight: 400;
  border-bottom: 1px solid #232939;
}

.tenth-section__table-title {
  padding: 8px 0;
  white-space: nowrap;
  padding-left: 10px;
}

.tenth-section__table-title-container {
  padding: 8px 0;
  width: 130px;
  font-weight: 600;
  border-right: 1px solid #232939;
}

.tenth-section__table-description {
  color: white;
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 400;
}

.tenth-section__fourth-table-description {
  min-width: 100px;
}

.tenth-section__table-row--first {
  background-color: #1D222F;
  padding: 13px 0;
  border-radius: 17px 17px 0 0;
  width: 100%;
}

.tenth-section__table-with-header-row {
  justify-content: space-between;
  min-width: 620px;
}

.tenth-section__table-with-header-description {
  width: 230px;
}

.tenth-section__table-with-header-row--first {
  background-color: #1D222F;
  border-radius: 17px 17px 0 0;
}

.tenth-section__table-with-header-title-container {
  border-right: none;
  width: auto;
}

.tenth-section__third-table-title-container {
  border-right: none;
  width: 55%;
}

.tenth-section__table-description--with-width {
  width: 30%;
}

.tenth-section__fifth-table-title-container {
  border-right: none;
  width: 20%;
  padding-right: 10px;
}

.tenth-section__fifth-table-description--with-width {
  width: 60%;
}

.tenth-section__third-table-title {
  width: 350px;
}

.tenth-section__first-table-row , .tenth-section__second-table-row {
  white-space: nowrap;
  width: auto;
  min-width: 430px;
}

@media (max-width: 1200px) {
  .tenth-section__title {
    width: calc(100% - 201px);
  }

  .tenth-section__fifth-table {
    margin-left: 99px;
    margin-right: 116px;
  }

  .tenth-section__paragraph {
    width: calc(100% - 215px);
  }

  .tenth-section__table-title {
    padding-left: 20px;
    width: 350px;
  }

  .tenth-section__fifth-table-title {
    width: 100px;
  }

  .tenth-section__table-title--first {
    width: 225px;
  }

  .tenth-section__table-title-container--second {
    width: 225px;
  }

  .tenth-section__table-row {
    font-size: 15px;
  }

  .tenth-section__fifth-table-description {
    width: 100px;
  }
}

@media (max-width: 720px) {
  .tenth-section__title {
    width: calc(100% - 32px);
    font-size: 18px;
  }

  .tenth-section__table-row {
    justify-content: space-between;
  }

  .tenth-section__paragraph {
    width: calc(100% - 32px);
    font-size: 13px;
    padding-left: 12px;
  }

  .tenth-section__table {
    overflow: auto;
    width: calc(100% - 32px);
    white-space: nowrap;
    font-size: 13px;
  }

  .tenth-section__table-with-header {
    white-space: initial;
  }

  .tenth-section__fifth-table-description {
    min-width: 100px;
  }

  .tenth-section__table-title {
    width: 360px;
  }

  .tenth-section__table-with-header-row {
    min-width: 550px;
  }

  .tenth-section__third-table-title-container {
    width: 290px;
  }

  .tenth-section__table-title-container--second {
    width: 360px;
  }

  .tenth-section__fifth-table-title-container {
    width: 130px;
    white-space: nowrap;
  }

  .tenth-section__table-description--with-width {
    width: 160px;
  }

  .tenth-section__fifth-table-description--with-width {
    width: 370px;
  }

  .tenth-section__second-table-row, .tenth-section__first-table-row {
    justify-content: start;
  }

  /* .tenth-section__fourth-table-description { */
    /* width: 100px; */
  /* } */
}
