.twelfth-section {
  width: auto;
  margin-left: 203px;
  margin-right: 223px;
  display: flex;
  flex-direction: column;
}

.twelfth-section__title {
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-top: 54px;
  width: calc(100% - 403px);
}

.twelfth-section__paragraph {
  margin-top: 15px;
  color: #B9C5E1;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.twelfth-section__list {
  color: #B9C5E1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-left: 30px;
}

.twelfth-section__image {
  width: calc(100% + 215px);
  margin-top: 20px;
  margin-left: -99px;
}

@media (max-width: 1200px) {
  .twelfth-section {
    margin-left: 99px;
    margin-right: 116px;
  }

  .twelfth-section__image {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 720px) {
  .twelfth-section {
    margin-left: 16px;
    margin-right: 16px;
  }

  .twelfth-section__title {
    font-size: 18px;
    width: 100%;
  }

  .twelfth-section__paragraph {
    font-size: 13px;
  }

  .twelfth-section__element {
    font-size: 13px;
  } 
}
