.twelfth-section {
  width: auto;
  margin-left: 99px;
  margin-right: 116px;
  display: flex;
  flex-direction: column;
}

.twelfth-section__title {
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-top: 54px;
  width: calc(100% - 403px);
}

.twelfth-section__paragraph {
  margin-top: 15px;
  color: #B9C5E1;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.twelfth-section__list {
  color: #B9C5E1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-left: 30px;
}

.twelfth-section__image {
  width: 250px;
  margin-top: 20px;
  border-radius: 17px;
}

.twelfth-section__element::marker {
  color: yellow;
}

.twelfth-section__image-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 1200px) {
  .twelfth-section__image-container {
    display: flex;
    flex-direction: column;
  }

  .twelfth-section {
    margin-left: 99px;
    margin-right: 116px;
  }

  .twelfth-section__image {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (max-width: 720px) {
  .twelfth-section {
    margin-left: 16px;
    margin-right: 16px;
  }

  .twelfth-section__image {
    width: 100%;
  }

  .twelfth-section__title {
    font-size: 18px;
    width: 100%;
  }

  .twelfth-section__paragraph {
    font-size: 13px;
  }

  .twelfth-section__element {
    font-size: 13px;
  } 
}
